.root {
    -fx-background-color: white;
    -fx-background-image: url("/application/resources/images/LOGO.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: auto;
}


.menu-bar {
    -fx-background-color: #e0f0ff;
}

.menu, .menu-item {
    -fx-text-fill: white;
}

.menu-item:hover {
    -fx-background-color: #34495e;
}

.stack-pane {
    -fx-padding: 20px;
}

.label {
    -fx-text-fill: #333;
}
